*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #CAD2C5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 header{
    background-color: #2F3E46;
    font-size: 100%;
    padding: 3%;
    margin-bottom: 15%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2em;
 }

 .hero{
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://via.placeholder.com/300.jpg);
 }

 .content{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
 }
/* creates a flex box container for the navigation bar */
 .nav-container{
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   justify-content: space-between;
 }
/* applies to header item only */
 .header-item{
   font-size: 200%;
   display: inline-block;
   margin-right: 2em;
   padding-left: 15%;
   background-color: #84A98C;
   text-align: right;
   color: #2F3E46;
   width: 120%;
 }
/* applies to all nav items */
 .nav-item{
   list-style: none;
   margin-right:2em;
 }
/* applies to nav-items a tags only. removes underline and sets a tag color */
 .nav-item a{
   text-decoration: none;
   color:#84A98C;
 }
/* creates a separate flex box for navigation bar links so they can be aligned to the right separate from the h2 tag*/
 .nav-link{
   display: flex;
   justify-content: flex-end;
 }
/* creates a flex container for the items in main */
.main-container{
   display: flex;
   flex-wrap: wrap;
}

.main-item{
   display: flex;
   flex-wrap: wrap;
}

.work-item{
   list-style: none;
   border: 3px solid #84A98C;
   background-image: url(https://via.placeholder.com/300.jpg);
   
}

h2{
   display: inline-block;
   color: #2F3E46;
   border-right: 3px solid #2F3E46;
   padding-right: 4px;
}

.header-container{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.contact-item{
   display: inline-block;
   list-style: none;
   text-decoration: underline #84A98C;
   text-align: center;
   margin-left: 10px;
}



/* placeholder for the media query code to resize stuff */
@media screen and (max-width: 768px){
     main, nav, header {
     flex-direction: column;  
  }
}
  
  /* Large smartphones - navbar changes color */
  /* @media screen and (max-width: 768px) {
   main, nav {
      background-color: #bb8588;
    }
  }
  
  Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    main, nav {
      background-color: #8ac4ff;
    } */
   