:root{
    --text: #003459;
    --header-text:#00171F;
    --accent: #06b6ac;
    --secondary-bg:#00171F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
/* sets the background */
header{
    background-color: var(--secondary-bg);
    width: 100%;
    height: 15%;
    padding-bottom: 5%;
}
/* customizes the header text */
.header-text{
    color: var(--text);
    background-color: var(--accent);
    display: inline-block;
    margin-top: 1%;
    padding-left:5%;
}

nav a{
    color: var(--accent);
}
/* flex box container for nav links */
.nav-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin: 0 4%;
    justify-content: flex-end;

}
/* each nav link container */
.card{
    list-style: none;
    font-size:120%;
    padding-left: 2%;
    margin: 1%;
}
/* hero image */
.hero{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://images.unsplash.com/photo-1524578271613-d550eacf6090?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-color: var(--accent);
    background-color: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 /* adjusts the h2 items */
 main section h2{
    display: inline-block;
    padding-right: 2%;
    color: var(--header-text);
    border-right: 2.5px solid var(--header-text);
    font-size: 200%;
    text-align: right;
    margin: 0 3%;
 }
 
 /* creates flex grid for each section in main */
 .section-container{
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    grid-gap: 10px;
 }
 
 /* removes list style, customizes the boxes of each li */
 main section ul>li{
    list-style: none;
    display: inline-block;
    margin: 5%;
    justify-content: space-between;
 }

 /* customizes the links in the contact me section */
 .contact-links{
   color: var(--text);
   text-decoration: 4px var(--secondary-bg) underline;
 }

 /* customizes the links of each project */
 .project-link{
    text-align: left;
    background-color: var(--accent);
    padding: 4.5% 2%;
    padding-left:8%;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: var(--text);
 }

 /* creates flex container for work section */
 .work-grid{
    display: flex;
    flex-wrap: wrap;
 }
 
 /* adjusts the items in the work section */
 .work-grid>*{
    outline: solid 2px var(--accent);
    flex: 1 1 30%;
    padding: 7%;
    margin: 2% 2%;
 }

 /* images for each project */
 .project1{
    flex: 2 1 100%;
    background-image: linear-gradient(45deg, blue, teal 50%);
 }

 .project2{
    background-image: linear-gradient(45deg, darkgreen 45%, blue);
 }

 .project3{
    background-image: linear-gradient(45deg, lightblue 55%,white);
 }

 .project4{
    background-image: linear-gradient(45deg, lightpink 55%, white) ;
 }
 
 .project5{
    background-image: linear-gradient(45deg, purple 70%, blue) ;
 }

 /* media query to adjust for screen sizes */

/* Tablets*/
@media screen and (max-width: 992px) {
    .nav-container{
        display: flex;
        width: 40%;
        flex-direction: column;
    }
    .card{
        background-color: var(--text);
        border: lightblue 5px solid;
    }
  }

  /* Small smartphones*/
  @media screen and (max-width: 576px) {
    .section-container {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
    }
    
    main section h2{
      background-color: var(--secondary-bg);
      opacity: 95%;
      color: var(--accent);
      text-align: center;
    }
    body{
      margin-left: 2%;
    }
    
    .nav-container{
      width: 30%;
    }

    .work-grid{
      display: flex;
      flex-direction: column;
    }
    
    .work-grid>*{
      flex: 1 1 150px;
      width: 300%;
      margin-bottom: 25%;
    }
  }